body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fbe7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rps-game {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #004d40;
}

#result {
    margin-top: 20px;
    font-size: 1.5rem;
    /* Issue 1: Result text stays static after the game, not indicating the winner */
    /* Solution: Update result text based on the winner */
}

.computer-container {
    background-color: white;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 37vh;

}

.computer-container h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 27px;
}

.computer-container button {
    margin-left: 15vh;
    width: 20vh;
    height: 10vh;
    font-size: 20px;
}