* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: auto;
    padding: 20px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: #333;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.meme-container {
    position: relative;
    margin-bottom: 20px;
    border: 4px solid #007bff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.meme-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.generated-meme{
    width: 86%;
    height: 50%;
}

.text {
    position: absolute;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.top-text {
    top: 5%;
}

.bottom-text {
    bottom: 5%;
}

input, button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 1rem;
    background-color: #f1f3f4;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, button:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    background: linear-gradient(45deg, #007bff, #00d4ff);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(45deg, #0056b3, #00aaff);
    box-shadow: 0 7px 20px rgba(0, 123, 255, 0.5);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(1px);
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .text {
        font-size: 1.4rem;
    }

    button {
        padding: 12px;
    }
}
